<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>samyukyh</title>
    <style>
        table{border:1px solid red;}

    </style>


</head>
<body>
<h1 style="color:red;">hey myan</h1>
<table>

    <thead>
    <tr>
    <th style="color:red;"> name</th>
    <th style="color:red;">sex </th>
    <th style="color:red;">age </th>
    </tr>
    </thead>
    <tr>
        <td>vijay</td>
        <td>male</td>
        <td>25</td>
    </tr>
    <tr>
        <td>ramya</td>
        <td>female</td>
        <td>27</td>
    </tr>
    <tr>
        <td>devi</td>
        <td>female</td>
        <td>24</td>
    </tr>
    <tr>
        <td>jay</td>
        <td>male</td>
        <td>35</td>
    </tr>

</table>


</body>
</html>